{% extends 'Administrador/base.html' %}
{% load static %}
{% block title %} Lista Géneros Juegos {% endblock %}

{% block content %}

    <div class="container mt-4">
        <h1>Editar Géneros</h1>

        <button type="button">
            <a href="{% url 'generosJuegosAdd' %}"> Agregar </a>
        </button>

        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>

        <table class="table table-striped">
            {% if generos_juegos %}
                <thead class="thead-dark">
                    <tr>
                        <th>Id Género</th>
                        <th>Género</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                {% for x in generos_juegos %}
                <tr>
                    <td>{{ x.id_genero_juego }}</td>
                    <td>{{ x.nombre_genero}}</td>
                    <td><a href="{% url 'generosJuegos_del' pk=x.id_genero_juego %}">Eliminar</a></td>
                    <td><a href="{% url 'generosJuegos_edit' pk=x.id_genero_juego %}">Modificar</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
        

    <script>
        $(document).ready(function(){
            $('#idMensajes').delay(2000).fadeOut("slow");
        });
    </script>

{% endblock %}