{% extends 'Administrador/base.html' %}
{% load static %}
{% block title %} Agregar Géneros Juegos {% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Formulario Géneros Juegos</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Agregar">
    </form>

    <br>
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <br>
    <a href="{% url 'crud_generos_juegos' %}"> Volver </a>
    <br>
</div>


{% endblock %}