{% extends 'Administrador/base.html' %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block content %}

    <div class="container mt-4">
        <!-- Tabla Videojuegos registrados -->
        <h1>Lista de Juegos registrados en la página</h1>
        <table class="table table-striped">
            {% if juegos %}
            <thead class="thead-dark">
                <tr>
                    <th>ID Juego</th>
                    <th>Nombre Juego</th>
                    <th>Año</th>
                    <th>Género</th>
                    <th>Desarrollador</th>
                    <th>Portada</th>
                </tr>
            </thead>
                {% for x in juegos %}
                    <tr>
                        <td>{{x.id_juego}}</td>
                        <td>{{x.titulo}}</td>
                        <td>{{x.anio}}</td>
                        <td>{{x.id_genero_juego.nombre_genero}}</td>
                        <td>{{x.desarrollador}}</td>
                        <td>{% if x.imagen_portada %}
                                <img src="{{x.imagen_portada.url}}" alt="Imagen del Juego" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                                No hay imagen disponible                  
                        {% endif %}</td>
                        
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <!-- Tabla Géneros Videojuegos registrados -->
        <h1>Lista de Géneros registrados en la página</h1>
        <table class="table table-striped">
            {% if generos_juegos %}
                <thead class="thead-dark">
                    <th>ID Género</th>
                    <th>Género</th>
                </thead>
                {% for x in generos_juegos %}
                <tr>
                    <td>{{x.id_genero_juego}}</td>
                    <td>{{x.nombre_genero}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    
{% endblock %}