{% extends 'Administrador/base.html' %}
{% load static %}
{% block title %} Lista Juegos Registrados {% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Lista de juegos para editar</h1><br>
        <br>

        <button type="button">
            <a href="{% url 'juegosAdd' %}">Agregar</a>
        </button>

        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>

        <table class="table table-striped">
            {% if juegos %}
            <thead class="thead-dark">
                <tr>
                    <th>ID Juego</th>
                    <th>Nombre Juego</th>
                    <th>Año</th>
                    <th>Género</th>
                    <th>Desarrollador</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>


                {% for x in juegos %}
                    <tr>
                        <td>{{x.id_juego}}</td>
                        <td>{{x.titulo}}</td>
                        <td>{{x.anio}}</td>
                        <td>{{x.id_genero_juego.nombre_genero}}</td>
                        <td>{{x.desarrollador}}</td>
                        <td><a href="{% url 'juegos_del' pk=x.id_juego %}">Eliminar</a></td>
                        <td><a href="{% url 'juegos_findEdit' pk=x.id_juego %}">Modificar</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
</div>
    

    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>

{% endblock %}