{% extends 'ReviewRealm/base.html' %}
{% load static %}
{% block title %}Buscar Juego{% endblock %}

{% block content %}
    <div class="contenedor-titulo">
        <h1 class ="text-center">Buscar Juegos</h1>
    </div>

    <!-- Columnas para contenido -->
    <div class="container-fluid" id="cuerpo_categorias">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="columna_principal">
          <!-- La idea de esta sección es que se escriba el nombre del juego, y si este está, poder agregar datos del usuario actual al juego, si no está se debería poder ingresar un juego nuevo a la base de datos -->
          <br><br>
          <h2 class="subtitulo_index text-center">Busca algún juego para obtener sus datos:</h2>
          <br>
          <h5 class="subtitulo_index_3 text-center">Busca los juegos por palabras claves, o bien por año de lanzamiento</h3>
          <br>
          <div class="mb-3">
            <form method="GET" action="{% url 'buscar_juego' %}">
              <input type="text" name="q" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el nombre del juego acá...">
              <div class="text-center">  
                <button type="submit"> BUSCAR </button>
              </div>
            </form>
            <br>
          </div>

            <h2 class="subtitulo_index text-center">Resultados de la búsqueda</h2>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8" id="resultadoBusqueda">
                {% if results %}
                  <ul>
                    {% for juego in results %}
                      <li class="datoJuego"><a href="{% url 'juego' pk=juego.id_juego %}">{{juego.titulo}}</a></li>
                    {% endfor %}
                  </ul>
                  <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      Swal.fire({
                        icon: "success",
                        title: "Se encontraron {{ results|length}} resultados",
                        showConfirmButton: false,
                        timer: 1500
                      });
                    });
                  </script>
                {% else %}
                  {% if request.GET.q %}
                  <h4 id="noMatch">No se encontraron juegos con esa búsqueda. Ingresalo para aportar con nuestra comunidad</h4>
                  <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      Swal.fire({
                          icon: "error",
                          title: "Oops...",
                          text: "No se encontraron juegos con esa búsqueda. Ingresalo para aportar con nuestra comunidad",
                      });
                    });
                  </script>
                  {% else %}
                  <h4 id="noMatch">Aún no se ha ingresado una búsqueda</h4>
                  {% endif %}
                {% endif %}
              </div>
              <div class="col-2"></div>
            </div>
            
          

          <h5 class="subtitulo_index_3 text-center">Si el juego que buscas no está disponible, puedes ingresarlo a continuación</h3>
            <br>
            <a href="{% url 'agregar_juego' %}" class="btn btn-primary agregar" id="botonAgregarJuego">Agregar un juego nuevo</a>
        </div>
        <div class="col-2"></div>

    </div>
  </div>

{% endblock %}