{% extends 'ReviewRealm/base.html'%}
{% load static %}
{% block title %}CATEGORIAS{% endblock %}

{% block content %}
<div class="miBloqueDeContenido" >
  <div class="contenedor-titulo">
      <h1 class ="text-center">Categorías</h1>
  </div>

<!-- Tabla de géneros de juegos -->
  <div class = "container-fluid" id= "cuerpo_categorias" style="height: 100%;">
    <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-8" id = "columna_principal">
        <br>
        <table class="table table-striped">
          {% if generos_juegos %}
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id Género</th>
                <th scope="col">Género</th>
                <th scope="col">Juegos</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for x in generos_juegos %}
                {% if x.cantidad_juegos > 0 %}
                  <tr>
                    <th scope="row">{{x.id_genero_juego}}</th>
                    <td id="linkJuego"><a href="{% url 'juegos_por_genero' pk=x.id_genero_juego %}">{{x.nombre_genero}}</a></td>
                    <td>{{x.cantidad_juegos}}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          {% endif %}
        </table>
      </div>
      <div class = "col-2"></div>
    </div>
  </div>
</div>

  {% endblock %}