{% extends 'ReviewRealm/base.html'%}
{% load static %}
{% block title %}CATEGORIAS{% endblock %}

{% block content %}
  <div class="contenedor-titulo">
      <h1 class ="text-center">Categorías</h1>
  </div>

<!-- Tabla de géneros de juegos -->
  <div class = "container-fluid" id= "cuerpo_categorias">
    <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-8" id = "columna_principal">
        <br>
        <table class="table table-transparent">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Género</th>
              <th scope="col">Juegos</th>
              <th scope="col">Cantidad Reseñas</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>Acción-Aventura</td>
              <td>10</td>
              <td>15</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Estrategia</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>RPGs</td>
              <td>12</td>
              <td>17</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Carreras</td>
              <td>7</td>
              <td>7</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Indies</td>
              <td>15</td>
              <td>23</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class = "col-2"></div>
    </div>
  </div>

  {% endblock %}