<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Géneros Juegos</title>
</head>
<body>
    <h1>Formulario Géneros Juegos</h1>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Agregar">
    </form>

    <br>
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <br>
    <a href="{% url 'crud_generos_juegos' %}"> Volver </a>
    <br>
</body>
</html>