<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición Géneros Juegos</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>Formulario para Actualizar Géneros</h2><br>

        {% if genero_juego %}
            

            <form action="" method="POST">
                {% csrf_token %}
                    {{ form.as_table }}
                    <input type="submit" name="opcion" value="Actualizar">
            </form><br><br>
        {% else %}
        <p>No ha entrado al if</p>
        {% endif %}
        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
        <br><br>
        <a href="{% url 'crud_generos_juegos' %}"> Volver </a>
    </div>
</body>
</html>