
{% extends 'ReviewRealm/base.html' %}
{% load static %}
{% block title %}INICIAR SESION{% endblock %}

{% block content %}
  <div class="contenedor-titulo">
    <h1 class ="text-center">Inicio Sesión</h1>
  </div>

  <!-- Columna Principal -->
  <div class="container-fluid" id="cuerpo_categorias">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" id="columna_principal">
        <div class="container mt-3">
          <br><br>
          <div class="row justify-content-center">
            <div class="col-md-6 mb-5">
              <form id="formularioInicioSesion">
                <div class="mb-3">
                  <label for="itMail" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" id="itMail" aria-describedby="emailHelp">
                  <div id="mensajeErrorCorreo" class="errores"></div>
                </div><br>
                <div class="mb-3">
                <label for="itContrasena" class="form-label">Contraseña</label>
                <input type="password" id="itContrasena" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="mensajeErrorContrasena" class="errores"></div>
                </div><br>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Recordar contraseña</label>
                </div>
                <button type="submit" class="btn btn-primary" id="bEnviarInicio">Iniciar Sesión</button>
                <a href="registrarse" class="btn btn-secondary" id="no-estoy-registrado">No estoy registrado</a>
              </form>
              <div style="height: 500px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="modalMensaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">You! Shall not pass!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="mensajeModalBody">
            <!-- Aquí se mostrará el mensaje del modal -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botonCerrar">Cerrar</button>
            <button type="button" class="btn btn-light" id="registrarse">No estoy Registrado</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

    