{% extends 'ReviewRealm/base.html' %}
{% load static %}
{% block title %} Juegos por Género {% endblock %}

{% block content %}

<!-- Tabla para mostrar juegos-->
<div class="miBloqueDeContenido">
    <div class="contenedor-titulo">
        <h1 class ="text-center">Juegos por Género: {{juegos.id_genero_juego.nombre_genero}}</h1>
    </div>

    <div class = "container-fluid" id= "cuerpo_categorias" style="height: 100%;">
        <div class = "row">
            <div class = "col-2"></div>
            <div class = "col-8" id = "columna_principal">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID Juego</th>
                            <th>Nombre Juego</th>
                            <th>Año</th>
                            <th>Desarrollador</th>
                        </tr>
                    </thead>
                    {% if juegos %}
                        {% for juego in juegos %}
                            <tr class="fila_juego_por_genero">
                                <td>{{juego.id_juego}}</td>
                                <td id="linkJuego"><a href="{% url 'juego' pk=juego.id_juego %}">{{juego.titulo}}</a></td>
                                <td>{{juego.anio}}</td>
                                <td>{{juego.desarrollador}}</td>
                            </tr>   
                        {% endfor %}
                    {% endif %}
    </table>
            </div>
            <div class = "col-2"></div>
        </div>
    </div>




    
</div>
{% endblock %}