<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
</head>
<body>
    <h1>Acá se mostrarán lo juegos que hay registrados en la página</h1>
    {% for juego in juegos %}
        <div>
            <h2>{{juego.titulo}}</h2>
            <p>{{juego.descripcion}}</p>
            <p>{{juego.anio}}</p>
            <p>{{juego.id_genero_juego.nombre_genero}}</p>
            <p>{{juego.desarrollador}}</p>
            <p>{{juego.publisher}}</p>
            <p>{{juego.calificacion}}</p>
            <p>{{juego.plataforma}}</p>
            <p>{{juego.duracion}}</p>
            <p>{{juego.clasificacion}}</p>
            <p>{{juego.imagen_portada}}</p>
            <img src="{{juego.imagen_portada}}" alt="Imagen de {{juego.titulo}}">

        </div>
    {% endfor %}
</body>
</html>