{% extends 'ReviewRealm/base.html' %}
{% load static %}
{% block title %}Recomendación aleatoria{% endblock %}

{% block content %}
  <div class="contenedor-titulo">
    <h1 class ="text-center">Recomendación diaria</h1>
    </div>
    
    <!-- Acá haré 3 columnas para centrar el contenido en la del medio -->
    <div class="container-fluid" id="cuerpo_categorias">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="columna_principal">
          <br><br>
          <h2 class="subtitulo_index text-center">La recomendación aleatoria es:</h2>
          <h3 class="subtitulo_index_2 text-center" id="titulo_juego"></h3>
          <br>
          <!-- Se subdivide la columna central en dos columnas -->
          <div class="row">
            <!-- Columna para la imagen -->
            <div class="col-md-6">
              <img id="imagen_juego" alt="Imagen del Juego" class="img-fluid mx-auto d-block" width="400px">
            </div>
            <!-- Columna para la lista -->
            <div class="col-md-6 align-self-center">
              <ul class="lista_pagina" id="detalles_juego"></ul>
            </div>

            <div id="linkIgn"><br>
              <p>Por el momento esta sección está en construcción, pero te queremos recomendar que visites esta página donde hay un ranking muy interesante de los 100 mejores videojuegos de la historia</p>
              <a href="https://es.ign.com/portal-2/178635/feature/los-100-mejores-videojuegos-de-la-historia">Los 100 Mejores Videojuegos de l Historia (Según IGN)</a>
            </div>
            
          </div>
        </div>
        <div class="col-2"></div>
        
      </div>
    </div>
{% endblock %}